@model List<BookingApiLocationSearchViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table>
        <tr>
            <th>Lokasyon</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.dest_id</td>

            </tr>
        }
    </table>
</div>